image: python:3-alpine

before_script:
  - python -V                                   # Print out python version for debugging

test:
  script:
  - apk update && apk add --no-cache bash git openssh
  - python setup.py test
  - pip install tox flake8  # you can also use tox
  - tox

run:
  script:
  - python setup.py bdist_wheel
  # an alternative approach is to install and run:
  - pip install dist/*
  # run the command here
  artifacts:
    paths:
    - dist/*.whl

pages:
  script:
  - apk update && apk add --no-cache make
  - pip install sphinx sphinx-rtd-theme
  - cd docs ; make html
  - mv _build/html/ ../public/
  artifacts:
    paths:
    - public
  only:
  - master
